nvim/plugged
.DS_Store
z_shell/sourced/fetch.sh
browsers/qutebrowser/qutebrowser.html
browsers/qutebrowser/greasemonkey/
browsers/qutebrowser/specific_cookies.py
browsers/qutebrowser/startpage/
browsers/qutebrowser/bookmarks/
browsers/qutebrowser/quickmarks
