nvim/plugged
.DS_Store
z_shell/loaded_scripts/fzf-zsh-plugin
qutebrowser/qutebrowser.html
qutebrowser/greasemonkey/
qutebrowser/specific_cookies.py
qutebrowser/startpage/
qutebrowser/bookmarks/
qutebrowser/quickmarks
