.DS_Store
ngrams
.emacs.d/ltximg
.vim/plugged
.vim/autoload
.vim/.netrwhist
.vim/swapfiles
.vim/undodir
*.spl
.zsh/.zcompdump
.zsh/external
zsh/sourced/fetch.sh
browsers/qutebrowser/qutebrowser.html
browsers/qutebrowser/greasemonkey/
browsers/qutebrowser/specific_cookies.py
browsers/qutebrowser/startpage/
browsers/qutebrowser/bookmarks/
browsers/qutebrowser/quickmarks
lazy-lock.json

