/* ROOT - VARS */
*|*:root {
    --tab-min-height:       30px !important; /* adjust */
    --tab-min-width:        50px !important; /* adjust */
}

.browserContainer > findbar {
    -moz-box-ordinal-group:0 !important; /*  for 112 and older */
    order: -1 !important; /* for 113 and newer */
    border-top: none !important;
    border-bottom: 1px solid ThreeDShadow !important;
}

#tabbrowser-tabs .tab-text{
    font-size:13px !important;
}

#personal-bookmarks .bookmark-item > .toolbarbutton-icon {
    height:10px !important;
}

#urlbar[breakout],
#urlbar[breakout][breakout-extend] {
    width: 100% !important;
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container,
#urlbar-input-container {
    height: var(--urlbar-height) !important;
    width: 100% !important;
    padding-block: unset !important;
    padding-inline: unset !important;
    transition: none !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
    box-shadow: 0 1px 4px rgba(0,0,0,.05) !important;
    animation: none !important;
}
