:root {
    --my-font-size: 13px;
    --my-tab-lshift: 30vw;
    --my-nav-bar-rshift: 70vw;
    --my-nav-bar-dshift: 36px;
    --my-bookmarks-height: 15px;
    --tab-min-height: 3vh !important;
}

#tabbrowser-tabs .tab-text{
    font-size: var(--my-font-size);
}

#urlbar {
    font-size: var(--my-font-size);
}

#urlbar-container {
    width: 20vw  !important;
}

#urlbar[breakout-extend] {
    width: 50vw !important;
}

#personal-bookmarks .bookmark-item > .toolbarbutton-icon {
    height: var(--my-bookmarks-height) !important;
}

#tabbrowser-tabs {
    border: none !important;
    box-shadow: none !important;
}

.browserContainer > findbar {
    order: -1 !important;
    border-top: none !important;
}

#TabsToolbar {
    margin-left: var(--my-tab-lshift) !important;
}

/* Nav bar*/
#nav-bar {
    background: transparent !important;
    margin-right: var(--my-nav-bar-rshift) !important;
    margin-top: calc(-1 *var(--my-nav-bar-dshift)) !important;
}

.titlebar-buttonbox {
    display: none !important;
}

.titlebar-spacer {
    display: none !important;
}

/*
#unified-extensions-button{
    width: 0;
    padding-inline: 0 !important
}
*/

/*
#unified-extensions-button > .toolbarbutton-icon {
    width: 0 !important;
}
*/

#page-action-buttons {
    display: none !important;
}

#PanelUI-button {
    display: none !important;
}

#tracking-protection-icon-container {
    display: none !important;
}

#page-action-buttons {
    display: none !important;
}

#PanelUI-button {
    display: none !important;
}

#tabs-newtab-button {
    display:none !important;
}

#forward-button {
    display: none !important;
}

#back-button {
    display: none !important;
}

#reload-button {
    display: none !important;
}
