:root {
    --my-font-size: 13px;
    --my-tab-start: 40vw;
    --my-nav-bar-start: 60vw;
}

#tabbrowser-tabs .tab-text{
    font-size: var(--my-font-size);
}

#personal-bookmarks .bookmark-item > .toolbarbutton-icon {
    height:10px !important;
}

/* Title bar */
.titlebar-buttonbox {
  display: none !important;
}

.titlebar-spacer {
  display: none !important;
}

#TabsToolbar {
  margin-left: var(--my-tab-start) !important; /* offset for url bar and icons */
}

#tabbrowser-tabs {
  --tab-min-height: 29px !important;
  border: none !important;
  box-shadow: none !important;
}

/* Nav bar */
#nav-bar {
  background: transparent !important;
  margin-top: -36px !important;
  margin-right: var(--my-nav-bar-start) !important; /* offset for tab bar */
  padding-bottom: 1px !important; /* symmetry */
}

#unified-extensions-button{
    width: 3px;
    padding-inline: 0 !important
}

#unified-extensions-button > .toolbarbutton-icon {
    width: 0 !important;
}

/* #back-button {
  display: none !important;
} */

/* #forward-button {
  display: none !important;
} */

/* #tracking-protection-icon-container {
  display: none !important;
} */

#urlbar-container {
  min-width: 175px !important;
}

#urlbar-background {
  animation: none !important;
}

#urlbar {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  transition: min-width 0.2s;
}

#page-action-buttons {
  display: none !important;
}

#PanelUI-button {
  display: none !important;
}

:root{
  --toolbar-field-background-color: var(--toolbar-field-non-lwt-bgcolor);
  --toolbar-field-focus-background-color: var(--lwt-toolbar-field-focus,Field);
}

#urlbar-container,
#urlbar {
  position: static !important;
  display: -moz-box !important;
  font-size: var(--my-font-size)
}

.urlbarView {
  position: absolute !important;
  width: 40vw !important;
  border-width: 1px 0;
  top: calc(vnar(--urlbar-toolbar-height) + 1px);
  background-color: hsla(0, 0%, 100%, 1);
  border-radius: var(--toolbarbutton-border-radius);
  z-index: 4;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

#urlbar > #urlbar-input-container {
  padding: 0px !important;
  width: auto !important;
  height: auto !important;
}

#urlbar > #urlbar-background {
  display: none !important;
}

#urlbar > #urlbar-input-container::before {
  content: "";
  display: -moz-box;
  height: 30px;
}
