:root {
    --my-font-size: 13px;
    --my-tab-lshift: 40vw;
    --my-nav-bar-rshift: 60vw;
}

#tabbrowser-tabs .tab-text{
    font-size: var(--my-font-size);
}

#urlbar {
    font-size: var(--my-font-size);
}

#personal-bookmarks .bookmark-item > .toolbarbutton-icon {
    height: 1vh !important;
}

#tabbrowser-tabs {
  --tab-min-height: 2vh !important;
  border: none !important;
  box-shadow: none !important;
}

.browserContainer > findbar {
    order: -1 !important;
    border-top: none !important;
    border-bottom: 1px solid ThreeDShadow !important;
}

#TabsToolbar {
  margin-left: var(--my-tab-lshift) !important;
}

/* Nav bar*/
#nav-bar {
    background: transparent !important;
    margin-right: var(--my-nav-bar-rshift) !important;
    margin-top: -4vh !important;
}

.titlebar-buttonbox {
    display: none !important;
}

.titlebar-spacer {
    display: none !important;
}

#unified-extensions-button{
    width: 0;
    padding-inline: 0 !important
}

#unified-extensions-button > .toolbarbutton-icon {
    width: 0 !important;
}

#page-action-buttons {
  display: none !important;
}

#PanelUI-button {
  display: none !important;
}

#tracking-protection-icon-container {
    display: none !important;
}

#page-action-buttons {
    display: none !important;
}

#PanelUI-button {
    display: none !important;
}
