:root {
    --blueish: #81b9be;
    --green: #a3be8c;
    --purple: #b48ead;
    --orange:  #d29c84;
}
.cm-header-1,.cm-header-2,.cm-header-3,.cm-header-4
.markdown-preview-section h1, .markdown-preview-section h2, 
.markdown-preview-section h3, .markdown-preview-section h4{
    font-family: "Times New Roman", Georgia, serif;
}
.cm-header-1,    
.markdown-preview-section h1 {
    color: var(--purple);
}                   

.cm-header-2,
.markdown-preview-section h2 {
    color: var(--blueish);                                     
}                                    

.cm-header-3,                          
.markdown-preview-section h3 {             
    color: var(--green);           
}

.cm-header-4,                          
.markdown-preview-section h4 {
    color: var(--orange);
}
