.CodeMirror-cursor,
div.CodeMirror-cursor,
.cm-fat-cursor,
.cm-animate-fat-cursor,
.cm-fat-cursor-mark,
.cm-cursor {
    visibility: visible !important;
}

.status-bar {
    display: none;
}
.workspace-ribbon.mod-right.is-collapsed {
    display: none;
}

.side-dock-actions {
    display: none;
}

.side-dock-settings {
    display: none;
}

.modal.mod-settings {
    width: 50vw;
}
