:root {
    --blueish: #81b9be;
    --green: #a3be8c;
    --purple: #b48ead;
    --orange:  #d29c84;
    --pink: #dc788c;
    --bold: #5e9ca6;
}

body{
    /* these are obsidian app.css variables */
    --h1: 2.35rem;
    --h2: 2.20rem;
    --h3: 2.05rem;
    --h4: 1.90rem;
    --h5: 1.75rem;
    --h6: 1.60rem;
}

.cm-header-1,.cm-header-2,.cm-header-3,.cm-header-4, .cm-header-5, .cm-header-6,
.markdown-preview-section h1, .markdown-preview-section h2,
.markdown-preview-section h3, .markdown-preview-section h4, .markdown-preview-section h5, .markdown-preview-section h6 {
    font-family: "Times New Roman", Georgia, serif;
}
.cm-header-1,
.markdown-preview-section h1 {
    color: var(--purple);
}

.cm-header-2,
.markdown-preview-section h2 {
    color: var(--blueish);
}

.cm-header-3,
.markdown-preview-section h3 {
    color: var(--green);
}
.cm-header-4,
.markdown-preview-section h4 {
    color: var(--orange);
}

.cm-header-5,
.markdown-preview-section h5 {
    color: var(--pink);
}

.cm-header-6,
.markdown-preview-section h6 {
    color: var(--bold);
}
