:root {
    --blueish: #81b9be;
    --green: #a3be8c;
    --purple: #b48ead;
    --darkpink: #ba839e;
}

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3{
    margin: 24px 0;
}

.cm-header-1,    
.markdown-preview-section h1 {
    font-size: 34px;  
    color: var(--purple);
}                   
.cm-header-2,
.markdown-preview-section h2 {
    font-size: 26px;
    color: var(--blueish);                                     
}                                    

.cm-header-3,                          
.markdown-preview-section h3 {             
    font-size: 22px;             
    color: var(--green);
}

.cm-header-4, 
.markdown-preview-section h4 {             
    font-size: 22px;             
    color: var(--darkpink);
}
